.outer {
    background: rgb(248, 34, 113);
    background: linear-gradient(135deg, rgb(252, 180, 142) 0%, rgb(244, 140, 119) 50%, rgb(234, 88, 87) 100%);
}

.h2 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    color: black;
}

.paybtn {
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 19px;
    padding: 4px;
    margin-top: 15px;   
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.paybtn:hover {
    background: rgb(248, 34, 113);
    background: linear-gradient(135deg, rgb(252, 180, 142) 0%, rgb(244, 140, 119) 50%, rgb(234, 88, 87) 100%);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);


}

.text {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-bottom:20px;
}

a{
    /* color:black; */
    text-decoration: none;
}